{% extends "taborniki/base.html" %}

{% block title %}
    Akcija
{% endblock %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


    <style>
        .demo-card-square.mdl-card {
            width: 320px;
            height: 320px;
        }

        .demo-card-square > .mdl-card__title {
            color: #fff;
            background:

        }
    </style>

</head>
{% block content %}



    <body>


    </body>

    <div class="content-grid mdl-grid">
        <!-- Square card -->


        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">{{ akcija.imeAkcija }}</h2>
            </div>
            <div class="mdl-card__supporting-text">

                <p>Ime: {{ akcija.imeAkcija }} </p>
                <p>Poročilo: {{ akcija.porocilo}}</p>
                <p>Člani so: </p>
                <ul class="demo-list-icon mdl-list">
                    {% for clan in akcijaudelezenci %}
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <a href="{% url 'profil' clan.id %}">
                                    <i class="material-icons mdl-list__item-icon">face</i>
                                </a>
                                {{ clan.ime }}  {{ clan.priimek }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {#            Dodaj clan v vod#}
            <div>

                <form action="{% url 'dodaj_clana_akciji'  akcija.id %}" method="GET">
                    {% csrf_token %}
                    {{form}}
                    <input  type="submit" class="mdl-button" value="Dodaj clana">

                </form>

            </div>
        </div>
    <div><img src={{ akcija.slika }}></div>
    </div>


{% endblock %}