{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "{% static 'taborniki/css/material.min.css' %}">
    <script src="{% static 'taborniki/js/material.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>RKJ Baza</title>
</head>



<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>

            <div class="mdl-textfield__expandable-holder">
                <form action=""  method="POST">{% csrf_token %}
            <input class="mdl-textfield__input" type="text" name="q"
                 id="fixed-header-drawer-exp">
                    </form>
            </div>

      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Upisan z geslom</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Moj vod</a>
      <a class="mdl-navigation__link" href="">Moje akcije</a>
      <a class="mdl-navigation__link" href="">Moja mama</a>
    </nav>
  </div>
{% block content %}
            {% endblock %}

</div>