{% extends "taborniki/base.html" %}


{% block content %}
    <form action="" method="post">{% csrf_token %}
        <div class="mdl-grid">

            <div class="mdl-typography--headline mdl-cell mdl-cell--12-col">Dodaj akcijo</div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
                <input class="mdl-textfield__input" type="text" id="imeAkcija" name='imeAkcija'/>
                <label class="mdl-textfield__label" for="imeAkcija">Ime Akcije</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
                <input class="mdl-textfield__input" type="text" id="porocilo" name='porocilo'/>
                <label class="mdl-textfield__label" for="porocilo">Porocilo</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
                <input class="mdl-textfield__input" type="text" id="zacetek" name='zacetek'/>
                <label class="mdl-textfield__label" for="zacetek">Začetek</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
                <input class="mdl-textfield__input" type="text" id="konec" name='konec'/>
                <label class="mdl-textfield__label" for="konec">Konec</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
                {{ form.organizator }}
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
                {{ form.udelezenci }}
            </div>
        </div>

        <button id="demo-show-snackbar" class="mdl-button mdl-js-button mdl-button--raised" type="submit">
            Dodaj
        </button>
        <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <script>
            (function () {
                'use strict';
                var snackbarContainer = document.querySelector('#demo-snackbar-example');
                var showSnackbarButton = document.querySelector('#demo-show-snackbar');
                var handler = function (event) {
                    showSnackbarButton.style.backgroundColor = '';
                };
                showSnackbarButton.addEventListener('click', function () {
                    'use strict';
                    showSnackbarButton.style.backgroundColor = '#' +
                        Math.floor(Math.random() * 0xFFFFFF).toString(16);
                    var data = {
                        message: 'Član je bil dodan.',
                        timeout: 5000,
                        actionHandler: handler,
                        actionText: 'Razveljavi?'
                    };
                    snackbarContainer.MaterialSnackbar.showSnackbar(data);
                });
            }());
        </script>

        <div id="orderBusyIndicator" class="mdl-spinner mdl-js-spinner"></div>
    </form>
{% endblock %}