{% extends "taborniki/base.html" %}

{% block title %}
    Domov
{% endblock %}


{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <style>
        .demo-card-square.mdl-card {
            width: 320px;
            height: 620px;
        }

        .demo-card-square > .mdl-card__title {
            color: #fff;
            background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
        }
    </style>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages': ['bar']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['rod', 'Clani', 'Vodi'],
                    ['rkj', {{ rkjClani }}, {{ rkjVodi }}],
                    ['ror', {{ rorClani }}, {{ rorVodi }}],
                    ['rcb', {{ rcbClani }}, {{ rcbVodi }}]
                ]);

                var options = {
                    chart: {
                        title: 'Število članov in vodov',
                        subtitle: 'Po rodovih'
                    },
                    bars: 'horizontal' // Required for Material Bar Charts.
                };

                var chart = new google.charts.Bar(document.getElementById('barchart_material'));

                chart.draw(data, google.charts.Bar.convertOptions(options));
            }
        </script>
    </head>


    <body>
    <!-- Square card -->
    <div class="content-grid mdl-grid">

        <div class="mdl-cell--stretch ">
            <div class="mdl-card mdl-shadow--2dp demo-card-square">
                <div class="mdl-card__title mdl-card--expand">
                    <h1 class="mdl-card__title-text">Akcija z največ udeleženci</h1>
                </div>
                <div class="mdl-card__title mdl-card--expand">
                    <h6 class="mdl-card__title-text">{{ akcijaNAJ.imeAkcija }}</h6>
                </div>
                <div class="mdl-card__supporting-text">
                    {{ akcijaNAJ.porocilo }}
                </div>
                <div class="mdl-card__actions mdl-card--border">

                    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="{% url 'akcija' akcijaNAJ.id %}">

                            Pojdi na akcijo
                        </a>
                </div>
            </div>
        </div>

        <div class="mdl-cell--stretch">
            <div class="mdl-card mdl-shadow--2dp demo-card-square">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Udeleženec največ akcij: {{ clanNAJ.ime }} {{ clanNAJ.priimek }}</h2>
                    <h3 class="mdl-card__title-text"></h3>
                </div>

                <div class="mdl-card__supporting-text">
                    {% for akcija in clanNAJ_akcije %}
                        <p>
                            <span class="mdl-list__item-primary-content">
                                <a href="{% url 'akcija' akcija.id %}">
                                    <i class="material-icons mdl-list__item-icon">face</i>
                                </a>
                                {{ akcija.imeAkcija }}
                            </span>
                        </p>
                    {% endfor %}
                </div>
                <div>
                    {% for akcija in clan.akcija_clan %}
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <a href="{% url 'akcija' akcija.id %}">
                                    <i class="material-icons mdl-list__item-icon">face</i>
                                </a>{{ akcija.imeAkcija }}
                            </span>
                        </li>
                    {% endfor %}
                </div>
                <div class="mdl-card__actions mdl-card--border">

                    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="{% url 'profil' clanNAJ.id %}">

                            Pojdi na osebo
                        </a>

                </div>
            </div>
        </div>
        <div>
            <div class="mdl-cell--stretch--bottom" id="barchart_material" style="width: 900px; height: 500px;"></div>
        </div>
    </div>


    </body>





{% endblock %}