{% extends "taborniki/base.html" %}

{% block title %}
    Rod
{% endblock %}


{% load static %}
<!DOCTYPE html>
<html lang="en">



    <style>
        .demo-card-square.mdl-card {
            width: 320px;
            height: 320px;
        }

        .demo-card-square > .mdl-card__title {
            color: #fff;

        }
    </style>
{% block content %}
    <head>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        <!--var data = google.visualization.arrayToDataTable(JSON.parse("{{ clani_po_vodih }}"));-->
        var data = google.visualization.arrayToDataTable(
        [['a','b'],
        ['ena',1],
        ['dva',2]]);
        var options = {
          title: 'Lengths of dinosaurs, in meters',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


</head>




    <body>




    <div>
        <!-- Square card -->



        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">{{ rod.imeRod }}</h2>
            </div>
            <div class="mdl-card__supporting-text">

                <p>Rod: {{ rod.imeRod }} </p>

                <p>Vodi so:</p>
                <ul class="demo-list-icon mdl-list">
                    {% for vod in vodi %}
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <a href="{% url 'vod' vod.id %}">
                                    <i class="material-icons mdl-list__item-icon">face</i>
                                </a>
                                {{ vod.imeVod }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <div>{{ clani_po_vodih }}</div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>



    </body>


{% endblock %}