{% extends "taborniki/base.html" %}

{% block title %}
    Rod
{% endblock %}


{% load static %}



    <style>
        .demo-card-square.mdl-card {
            width: 320px;
            height: 320px;
        }

        .demo-card-square > .mdl-card__title {
            color: #fff;

        }
    </style>


    {% block head %}

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages': ['bar']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable({{ clani_po_vodih|safe }});

                var options = {
                    chart: {
                        title: 'Število članov po vodih',

                    },
                    bars: 'horizontal' // Required for Material Bar Charts.
                };

                var chart = new google.charts.Bar(document.getElementById('barchart_material'));

                chart.draw(data, google.charts.Bar.convertOptions(options));
            }
        </script>

{% endblock %}



{% block content %}

    <body>



        <!-- Square card -->


        <div class="content-grid mdl-grid">
            <div class="mdl-cell--strech">
                <div class="demo-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">{{ rod.imeRod }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">

                        <p>Rod: {{ rod.imeRod }} </p>
                        <p>Sedež: {{ rod.sedez }}</p>

                        <p>Vodi so:</p>
                        <ul class="demo-list-icon mdl-list">
                            {% for vod in vodi %}
                                <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <a href="{% url 'vod' vod.id %}">
                                    <i class="material-icons mdl-list__item-icon">face</i>
                                </a>
                                {{ vod.imeVod }}
                            </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mdl-cell--strech">
                <div class="demo-card-square mdl-card mdl-shadow--1dp">


                    <div id="barchart_material" style="width: 500px; height: 500px;"></div>


                </div>

            </div>


        </div>




    </body>


{% endblock %}