{% extends "taborniki/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iskanje</title>
</head>


{% block content %}
<!--&lt;!&ndash; Icon List &ndash;&gt;-->
<!--<style>-->
<!--.demo-list-icon {-->
  <!--width: 300px;-->
<!--}-->



<!--</style>-->

<!--<div class="table">-->
    <!--<div class="left">-->
        <!--<ul class="demo-list-icon mdl-list">-->
            <!--{% for clan in clani %}-->
            <!--<li class="mdl-list__item">-->
    <!--<span class="mdl-list__item-primary-content">-->
        <!--<a href="{% url 'profil' clan.id %}">-->
       <!--<i class="material-icons mdl-list__item-icon">person</i>-->
            <!--</a>-->
    <!--{{ clan.ime }}  {{ clan.priimek }}-->

<!--</span>-->
            <!--</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--</div>-->


    <!--<div class="right">-->
        <!--Content of the second column.-->
    <!--</div>-->


<!--</div>-->

<h2>With Table</h2>
<table>
   <tr>
      <td>
         Content of the first column.
      </td>
      <td>
         Content of the second column.
      </td>
   </tr>
</table>

<h2>With Div</h2>
<div class="table">
    <div class="left">
        Content of the first column.
    </div>
    <div class="right">
       Content of the second column.
    </div>
</div>

{% endblock %}
</html>




