{% extends "taborniki/base.html" %}

{% block content %}
<p>Rodi so: </p>
                <ul class="demo-list-icon mdl-list">
                    {% for rod in rodi %}
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <a href="{% url 'rod' rod.id %}">
                                    <i class="material-icons mdl-list__item-icon">hdr_weak</i>
                                </a>
                                {{ rod.imeRod }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>

{% endblock %}